HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


### Section2 ###
section2/accounts/.mvn/wrapper/maven-wrapper.jar
section2/accounts/.mvn/wrapper/maven-wrapper.properties
section2/accounts/mvnw
section2/accounts/mvnw.cmd

section2/loans/.mvn/wrapper/maven-wrapper.jar
section2/loans/.mvn/wrapper/maven-wrapper.properties
section2/loans/mvnw
section2/loans/mvnw.cmd

section2/cards/.mvn/wrapper/maven-wrapper.jar
section2/cards/.mvn/wrapper/maven-wrapper.properties
section2/cards/mvnw
section2/cards/mvnw.cmd

### Section4 ###
section4/accounts/.mvn/wrapper/maven-wrapper.jar
section4/accounts/.mvn/wrapper/maven-wrapper.properties
section4/accounts/mvnw
section4/accounts/mvnw.cmd

section4/loans/.mvn/wrapper/maven-wrapper.jar
section4/loans/.mvn/wrapper/maven-wrapper.properties
section4/loans/mvnw
section4/loans/mvnw.cmd

section4/cards/.mvn/wrapper/maven-wrapper.jar
section4/cards/.mvn/wrapper/maven-wrapper.properties
section4/cards/mvnw
section4/cards/mvnw.cmd

### Section6 ###
section6/v1-springboot/accounts/.mvn/wrapper/maven-wrapper.jar
section6/v1-springboot/accounts/.mvn/wrapper/maven-wrapper.properties
section6/v1-springboot/accounts/mvnw
section6/v1-springboot/accounts/mvnw.cmd

section6/v1-springboot/loans/.mvn/wrapper/maven-wrapper.jar
section6/v1-springboot/loans/.mvn/wrapper/maven-wrapper.properties
section6/v1-springboot/loans/mvnw
section6/v1-springboot/loans/mvnw.cmd

section6/v1-springboot/cards/.mvn/wrapper/maven-wrapper.jar
section6/v1-springboot/cards/.mvn/wrapper/maven-wrapper.properties
section6/v1-springboot/cards/mvnw
section6/v1-springboot/cards/mvnw.cmd

### IntelliJ IDEA ###
section6/v1-springboot/.idea
section6/v1-springboot/*.iws
section6/v1-springboot/*.iml
section6/v1-springboot/*.ipr
section6/v1-springboot/.DS_Store

### Section6 ###
section6/v2-spring-cloud-config/accounts/.mvn/wrapper/maven-wrapper.jar
section6/v2-spring-cloud-config/accounts/.mvn/wrapper/maven-wrapper.properties
section6/v2-spring-cloud-config/accounts/mvnw
section6/v2-spring-cloud-config/accounts/mvnw.cmd

section6/v2-spring-cloud-config/loans/.mvn/wrapper/maven-wrapper.jar
section6/v2-spring-cloud-config/loans/.mvn/wrapper/maven-wrapper.properties
section6/v2-spring-cloud-config/loans/mvnw
section6/v2-spring-cloud-config/loans/mvnw.cmd

section6/v2-spring-cloud-config/cards/.mvn/wrapper/maven-wrapper.jar
section6/v2-spring-cloud-config/cards/.mvn/wrapper/maven-wrapper.properties
section6/v2-spring-cloud-config/cards/mvnw
section6/v2-spring-cloud-config/cards/mvnw.cmd

### IntelliJ IDEA ###
section6/v2-spring-cloud-config/.idea
section6/v2-spring-cloud-config/*.iws
section6/v2-spring-cloud-config/*.iml
section6/v2-spring-cloud-config/*.ipr
section6/v2-spring-cloud-config/.DS_Store