HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


### Section2 ###
section2/accounts/.mvn/wrapper/maven-wrapper.jar
section2/accounts/.mvn/wrapper/maven-wrapper.properties
section2/accounts/mvnw
section2/accounts/mvnw.cmd

section2/loans/.mvn/wrapper/maven-wrapper.jar
section2/loans/.mvn/wrapper/maven-wrapper.properties
section2/loans/mvnw
section2/loans/mvnw.cmd

section2/cards/.mvn/wrapper/maven-wrapper.jar
section2/cards/.mvn/wrapper/maven-wrapper.properties
section2/cards/mvnw
section2/cards/mvnw.cmd

### Section4 ###
section4/accounts/.mvn/wrapper/maven-wrapper.jar
section4/accounts/.mvn/wrapper/maven-wrapper.properties
section4/accounts/mvnw
section4/accounts/mvnw.cmd

section4/loans/.mvn/wrapper/maven-wrapper.jar
section4/loans/.mvn/wrapper/maven-wrapper.properties
section4/loans/mvnw
section4/loans/mvnw.cmd

section4/cards/.mvn/wrapper/maven-wrapper.jar
section4/cards/.mvn/wrapper/maven-wrapper.properties
section4/cards/mvnw
section4/cards/mvnw.cmd

### Section6 ###
section6/v1-springboot/accounts/.mvn/wrapper/maven-wrapper.jar
section6/v1-springboot/accounts/.mvn/wrapper/maven-wrapper.properties
section6/v1-springboot/accounts/mvnw
section6/v1-springboot/accounts/mvnw.cmd

section6/v1-springboot/loans/.mvn/wrapper/maven-wrapper.jar
section6/v1-springboot/loans/.mvn/wrapper/maven-wrapper.properties
section6/v1-springboot/loans/mvnw
section6/v1-springboot/loans/mvnw.cmd

section6/v1-springboot/cards/.mvn/wrapper/maven-wrapper.jar
section6/v1-springboot/cards/.mvn/wrapper/maven-wrapper.properties
section6/v1-springboot/cards/mvnw
section6/v1-springboot/cards/mvnw.cmd

### IntelliJ IDEA ###
section6/v1-springboot/.idea
section6/v1-springboot/*.iws
section6/v1-springboot/*.iml
section6/v1-springboot/*.ipr
section6/v1-springboot/.DS_Store

### Section6 ###
section6/v2-spring-cloud-config/accounts/.mvn/wrapper/maven-wrapper.jar
section6/v2-spring-cloud-config/accounts/.mvn/wrapper/maven-wrapper.properties
section6/v2-spring-cloud-config/accounts/mvnw
section6/v2-spring-cloud-config/accounts/mvnw.cmd

section6/v2-spring-cloud-config/loans/.mvn/wrapper/maven-wrapper.jar
section6/v2-spring-cloud-config/loans/.mvn/wrapper/maven-wrapper.properties
section6/v2-spring-cloud-config/loans/mvnw
section6/v2-spring-cloud-config/loans/mvnw.cmd

section6/v2-spring-cloud-config/cards/.mvn/wrapper/maven-wrapper.jar
section6/v2-spring-cloud-config/cards/.mvn/wrapper/maven-wrapper.properties
section6/v2-spring-cloud-config/cards/mvnw
section6/v2-spring-cloud-config/cards/mvnw.cmd

### IntelliJ IDEA ###
section6/v2-spring-cloud-config/.idea
section6/v2-spring-cloud-config/*.iws
section6/v2-spring-cloud-config/*.iml
section6/v2-spring-cloud-config/*.ipr
section6/v2-spring-cloud-config/.DS_Store


### Section7 ###
section7/accounts/.mvn/wrapper/maven-wrapper.jar
section7/accounts/.mvn/wrapper/maven-wrapper.properties
section7/accounts/mvnw
section7/accounts/mvnw.cmd

section7/loans/.mvn/wrapper/maven-wrapper.jar
section7/loans/.mvn/wrapper/maven-wrapper.properties
section7/loans/mvnw
section7/loans/mvnw.cmd

section7/cards/.mvn/wrapper/maven-wrapper.jar
section7/cards/.mvn/wrapper/maven-wrapper.properties
section7/cards/mvnw
section7/cards/mvnw.cmd

section7/configserver/.mvn/wrapper/maven-wrapper.jar
section7/configserver/.mvn/wrapper/maven-wrapper.properties
section7/configserver/mvnw
section7/configserver/mvnw.cmd

### IntelliJ IDEA ###
section7/.idea
section7/*.iws
section7/*.iml
section7/*.ipr
section7/.DS_Store

section7/accounts/HELP.md
section7/accounts/mvnw
section7/accounts/mvnw.cmd
section7/cards/HELP.md
section7/cards/mvnw
section7/cards/mvnw.cmd
section7/loans/HELP.md
section7/loans/mvnw
section7/loans/mvnw.cmd
section7/configserver/HELP.md
section7/configserver/mvnw
section7/configserver/mvnw.cmd

### Section7 End #######################

### Section8 Start ###
section8/accounts/.mvn/wrapper/maven-wrapper.jar
section8/accounts/.mvn/wrapper/maven-wrapper.properties
section8/accounts/mvnw
section8/accounts/mvnw.cmd

section8/loans/.mvn/wrapper/maven-wrapper.jar
section8/loans/.mvn/wrapper/maven-wrapper.properties
section8/loans/mvnw
section8/loans/mvnw.cmd

section8/cards/.mvn/wrapper/maven-wrapper.jar
section8/cards/.mvn/wrapper/maven-wrapper.properties
section8/cards/mvnw
section8/cards/mvnw.cmd

section8/configserver/.mvn/wrapper/maven-wrapper.jar
section8/configserver/.mvn/wrapper/maven-wrapper.properties
section8/configserver/mvnw
section8/configserver/mvnw.cmd

section8/eurekaserver/.mvn/wrapper/maven-wrapper.jar
section8/eurekaserver/.mvn/wrapper/maven-wrapper.properties
section8/eurekaserver/mvnw
section8/eurekaserver/mvnw.cmd

### IntelliJ IDEA ###
section8/.idea
section8/*.iws
section8/*.iml
section8/*.ipr
section8/.DS_Store

section8/accounts/HELP.md
section8/accounts/mvnw
section8/accounts/mvnw.cmd
section8/cards/HELP.md
section8/cards/mvnw
section8/cards/mvnw.cmd
section8/loans/HELP.md
section8/loans/mvnw
section8/loans/mvnw.cmd
section8/configserver/HELP.md
section8/configserver/mvnw
section8/configserver/mvnw.cmd
section8/eurekaserver/HELP.md
section8/eurekaserver/mvnw
section8/eurekaserver/mvnw.cmd

### Section8 End #######################

### Section9 Start ###
section9/accounts/.mvn/wrapper/maven-wrapper.jar
section9/accounts/.mvn/wrapper/maven-wrapper.properties
section9/accounts/mvnw
section9/accounts/mvnw.cmd

section9/loans/.mvn/wrapper/maven-wrapper.jar
section9/loans/.mvn/wrapper/maven-wrapper.properties
section9/loans/mvnw
section9/loans/mvnw.cmd

section9/cards/.mvn/wrapper/maven-wrapper.jar
section9/cards/.mvn/wrapper/maven-wrapper.properties
section9/cards/mvnw
section9/cards/mvnw.cmd

section9/configserver/.mvn/wrapper/maven-wrapper.jar
section9/configserver/.mvn/wrapper/maven-wrapper.properties
section9/configserver/mvnw
section9/configserver/mvnw.cmd

section9/eurekaserver/.mvn/wrapper/maven-wrapper.jar
section9/eurekaserver/.mvn/wrapper/maven-wrapper.properties
section9/eurekaserver/mvnw
section9/eurekaserver/mvnw.cmd

section9/gatewayserver/.mvn/wrapper/maven-wrapper.jar
section9/gatewayserver/.mvn/wrapper/maven-wrapper.properties
section9/gatewayserver/mvnw
section9/gatewayserver/mvnw.cmd

### IntelliJ IDEA ###
section9/.idea
section9/*.iws
section9/*.iml
section9/*.ipr
section9/.DS_Store

section9/accounts/HELP.md
section9/accounts/mvnw
section9/accounts/mvnw.cmd
section9/cards/HELP.md
section9/cards/mvnw
section9/cards/mvnw.cmd
section9/loans/HELP.md
section9/loans/mvnw
section9/loans/mvnw.cmd
section9/configserver/HELP.md
section9/configserver/mvnw
section9/configserver/mvnw.cmd
section9/eurekaserver/HELP.md
section9/eurekaserver/mvnw
section9/eurekaserver/mvnw.cmd
section9/gatewayserver/HELP.md
section9/gatewayserver/mvnw
section9/gatewayserver/mvnw.cmd

### Section9 End #######################

### Section10 Start ###
section10/accounts/.mvn/wrapper/maven-wrapper.jar
section10/accounts/.mvn/wrapper/maven-wrapper.properties
section10/accounts/mvnw
section10/accounts/mvnw.cmd

section10/loans/.mvn/wrapper/maven-wrapper.jar
section10/loans/.mvn/wrapper/maven-wrapper.properties
section10/loans/mvnw
section10/loans/mvnw.cmd

section10/cards/.mvn/wrapper/maven-wrapper.jar
section10/cards/.mvn/wrapper/maven-wrapper.properties
section10/cards/mvnw
section10/cards/mvnw.cmd

section10/configserver/.mvn/wrapper/maven-wrapper.jar
section10/configserver/.mvn/wrapper/maven-wrapper.properties
section10/configserver/mvnw
section10/configserver/mvnw.cmd

section10/eurekaserver/.mvn/wrapper/maven-wrapper.jar
section10/eurekaserver/.mvn/wrapper/maven-wrapper.properties
section10/eurekaserver/mvnw
section10/eurekaserver/mvnw.cmd

section10/gatewayserver/.mvn/wrapper/maven-wrapper.jar
section10/gatewayserver/.mvn/wrapper/maven-wrapper.properties
section10/gatewayserver/mvnw
section10/gatewayserver/mvnw.cmd

### IntelliJ IDEA ###
section10/.idea
section10/*.iws
section10/*.iml
section10/*.ipr
section10/.DS_Store

section10/accounts/HELP.md
section10/accounts/mvnw
section10/accounts/mvnw.cmd
section10/cards/HELP.md
section10/cards/mvnw
section10/cards/mvnw.cmd
section10/loans/HELP.md
section10/loans/mvnw
section10/loans/mvnw.cmd
section10/configserver/HELP.md
section10/configserver/mvnw
section10/configserver/mvnw.cmd
section10/eurekaserver/HELP.md
section10/eurekaserver/mvnw
section10/eurekaserver/mvnw.cmd
section10/gatewayserver/HELP.md
section10/gatewayserver/mvnw
section10/gatewayserver/mvnw.cmd

### Section10 End #######################

### Section11 Start ###
section11/accounts/.mvn/wrapper/maven-wrapper.jar
section11/accounts/.mvn/wrapper/maven-wrapper.properties
section11/accounts/mvnw
section11/accounts/mvnw.cmd

section11/loans/.mvn/wrapper/maven-wrapper.jar
section11/loans/.mvn/wrapper/maven-wrapper.properties
section11/loans/mvnw
section11/loans/mvnw.cmd

section11/cards/.mvn/wrapper/maven-wrapper.jar
section11/cards/.mvn/wrapper/maven-wrapper.properties
section11/cards/mvnw
section11/cards/mvnw.cmd

section11/configserver/.mvn/wrapper/maven-wrapper.jar
section11/configserver/.mvn/wrapper/maven-wrapper.properties
section11/configserver/mvnw
section11/configserver/mvnw.cmd

section11/eurekaserver/.mvn/wrapper/maven-wrapper.jar
section11/eurekaserver/.mvn/wrapper/maven-wrapper.properties
section11/eurekaserver/mvnw
section11/eurekaserver/mvnw.cmd

section11/gatewayserver/.mvn/wrapper/maven-wrapper.jar
section11/gatewayserver/.mvn/wrapper/maven-wrapper.properties
section11/gatewayserver/mvnw
section11/gatewayserver/mvnw.cmd

### IntelliJ IDEA ###
section11/.idea
section11/*.iws
section11/*.iml
section11/*.ipr
section11/.DS_Store

section11/accounts/HELP.md
section11/accounts/mvnw
section11/accounts/mvnw.cmd
section11/cards/HELP.md
section11/cards/mvnw
section11/cards/mvnw.cmd
section11/loans/HELP.md
section11/loans/mvnw
section11/loans/mvnw.cmd
section11/configserver/HELP.md
section11/configserver/mvnw
section11/configserver/mvnw.cmd
section11/eurekaserver/HELP.md
section11/eurekaserver/mvnw
section11/eurekaserver/mvnw.cmd
section11/gatewayserver/HELP.md
section11/gatewayserver/mvnw
section11/gatewayserver/mvnw.cmd

### Section11 End #######################

### Section12 Start ###
section12/accounts/.mvn/wrapper/maven-wrapper.jar
section12/accounts/.mvn/wrapper/maven-wrapper.properties
section12/accounts/mvnw
section12/accounts/mvnw.cmd

section12/loans/.mvn/wrapper/maven-wrapper.jar
section12/loans/.mvn/wrapper/maven-wrapper.properties
section12/loans/mvnw
section12/loans/mvnw.cmd

section12/cards/.mvn/wrapper/maven-wrapper.jar
section12/cards/.mvn/wrapper/maven-wrapper.properties
section12/cards/mvnw
section12/cards/mvnw.cmd

section12/configserver/.mvn/wrapper/maven-wrapper.jar
section12/configserver/.mvn/wrapper/maven-wrapper.properties
section12/configserver/mvnw
section12/configserver/mvnw.cmd

section12/eurekaserver/.mvn/wrapper/maven-wrapper.jar
section12/eurekaserver/.mvn/wrapper/maven-wrapper.properties
section12/eurekaserver/mvnw
section12/eurekaserver/mvnw.cmd

section12/gatewayserver/.mvn/wrapper/maven-wrapper.jar
section12/gatewayserver/.mvn/wrapper/maven-wrapper.properties
section12/gatewayserver/mvnw
section12/gatewayserver/mvnw.cmd

### IntelliJ IDEA ###
section12/.idea
section12/*.iws
section12/*.iml
section12/*.ipr
section12/.DS_Store

section12/accounts/HELP.md
section12/accounts/mvnw
section12/accounts/mvnw.cmd
section12/cards/HELP.md
section12/cards/mvnw
section12/cards/mvnw.cmd
section12/loans/HELP.md
section12/loans/mvnw
section12/loans/mvnw.cmd
section12/configserver/HELP.md
section12/configserver/mvnw
section12/configserver/mvnw.cmd
section12/eurekaserver/HELP.md
section12/eurekaserver/mvnw
section12/eurekaserver/mvnw.cmd
section12/gatewayserver/HELP.md
section12/gatewayserver/mvnw
section12/gatewayserver/mvnw.cmd

### section12 End #######################

### Section13 Start ###
section13/accounts/.mvn/wrapper/maven-wrapper.jar
section13/accounts/.mvn/wrapper/maven-wrapper.properties
section13/accounts/mvnw
section13/accounts/mvnw.cmd
section13/accounts/HELP.md

section13/loans/.mvn/wrapper/maven-wrapper.jar
section13/loans/.mvn/wrapper/maven-wrapper.properties
section13/loans/mvnw
section13/loans/mvnw.cmd

section13/cards/.mvn/wrapper/maven-wrapper.jar
section13/cards/.mvn/wrapper/maven-wrapper.properties
section13/cards/mvnw
section13/cards/mvnw.cmd
section13/cards/HELP.md

section13/configserver/.mvn/wrapper/maven-wrapper.jar
section13/configserver/.mvn/wrapper/maven-wrapper.properties
section13/configserver/mvnw
section13/configserver/mvnw.cmd
section13/configserver/HELP.md

section13/eurekaserver/.mvn/wrapper/maven-wrapper.jar
section13/eurekaserver/.mvn/wrapper/maven-wrapper.properties
section13/eurekaserver/mvnw
section13/eurekaserver/mvnw.cmd
section13/eurekaserver/HELP.md

section13/gatewayserver/.mvn/wrapper/maven-wrapper.jar
section13/gatewayserver/.mvn/wrapper/maven-wrapper.properties
section13/gatewayserver/mvnw
section13/gatewayserver/mvnw.cmd
section13/gatewayserver/HELP.md

section13/message/.mvn/wrapper/maven-wrapper.jar
section13/message/.mvn/wrapper/maven-wrapper.properties
section13/message/mvnw
section13/message/mvnw.cmd
section13/message/HELP.md


### IntelliJ IDEA ###
section13/.idea
section13/*.iws
section13/*.iml
section13/*.ipr
section13/.DS_Store


### section13 End #######################

### Section14 Start ###
section14/accounts/.mvn/wrapper/maven-wrapper.jar
section14/accounts/.mvn/wrapper/maven-wrapper.properties
section14/accounts/mvnw
section14/accounts/mvnw.cmd
section14/accounts/HELP.md

section14/loans/.mvn/wrapper/maven-wrapper.jar
section14/loans/.mvn/wrapper/maven-wrapper.properties
section14/loans/mvnw
section14/loans/mvnw.cmd

section14/cards/.mvn/wrapper/maven-wrapper.jar
section14/cards/.mvn/wrapper/maven-wrapper.properties
section14/cards/mvnw
section14/cards/mvnw.cmd
section14/cards/HELP.md

section14/configserver/.mvn/wrapper/maven-wrapper.jar
section14/configserver/.mvn/wrapper/maven-wrapper.properties
section14/configserver/mvnw
section14/configserver/mvnw.cmd
section14/configserver/HELP.md

section14/eurekaserver/.mvn/wrapper/maven-wrapper.jar
section14/eurekaserver/.mvn/wrapper/maven-wrapper.properties
section14/eurekaserver/mvnw
section14/eurekaserver/mvnw.cmd
section14/eurekaserver/HELP.md

section14/gatewayserver/.mvn/wrapper/maven-wrapper.jar
section14/gatewayserver/.mvn/wrapper/maven-wrapper.properties
section14/gatewayserver/mvnw
section14/gatewayserver/mvnw.cmd
section14/gatewayserver/HELP.md

section14/message/.mvn/wrapper/maven-wrapper.jar
section14/message/.mvn/wrapper/maven-wrapper.properties
section14/message/mvnw
section14/message/mvnw.cmd
section14/message/HELP.md


### IntelliJ IDEA ###
section14/.idea
section14/*.iws
section14/*.iml
section14/*.ipr
section14/.DS_Store


### section14 End #######################